<div class='row'>
  <div class='col-xs-6 col-xs-offset-2 msg-show'>
    <div class='photo'>
      <img
        src="<%= message.escape('sender_photo') %>"
        class='rounded-photo'
        alt='Photo'
        height='190'
        width='190'>
    </div>
    <p><b>From: <%= message.escape('sender') %></p>
    <p>Title: <%= message.escape('title') %></b></p><br>
    <p><%= message.escape('body') %></p>

    <form id='msg-form' role='form'>
      <input type='hidden' name='message[title]' value="RE: <%= message.escape('title') %>">
      <div class='form-group'>
        <label for="msg_body">Reply:</label>
          <textarea name="message[body]" id='msg_body' class='form-control'></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>