<!DOCTYPE html>
<html>
<head>
  <title>STARKCupid</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a href='#' class='navbar-brand'><%= image_tag 'starkupid.png', size: '55x40' %></a>
      </div>
      <ul class='nav'>
      <% if current_user %>
        <script>
          $(document).ready( function () {
            Backbone.history.start();
          });
          var currentUserUsername = '<%= current_user.username %>';
          </script>
        <li>
          <%= link_to(
          'Sign Out',
          session_url,
          method: :delete,
          class: 'navbar-right navbar-link') %>
        </li>
        <li>
          <a class='navbar-right navbar-link' href='#/profile/edit'>
            Profile
          </a>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign In', new_session_url, class: 'navbar-right navbar-link' %>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_url, class: 'navbar-right navbar-link' %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>

  <div id='left-nav'>
    <ul class='nav nav-pills nav-stacked'>
      <li class='left-nav'><a href='#' class='matches'>
        <span class='glyphicon glyphicon-heart'></span> Matches</a></li>
      <li class='left-nav'><a href='#/messages'>
        <span class='glyphicon glyphicon-envelope'></span> Messages</a></li>
      <li class='left-nav'><a href='#'>
        <span class='glyphicon glyphicon-question-sign'></span> Questions</a></li>
      <li class='left-nav'><a href='#'>
        <span class='glyphicon glyphicon-user'></span> Visitors</a></li>
    </ul>
  </div>

  <div id='content' class='container-fluid'>

<%= yield %>
  </div>

</body>
</html>
